<h1>P치gina de productos:</h1>

{{#unless isFirst}}
  <a href="/?index={{subtract index 1}}">Anterior</a>
{{/unless}}
{{#unless isLast}}
  <a href="/?index={{add index 1}}">Siguiente</a>
{{/unless}}

<hr />

<h3>{{product.title}}</h3>
<ul>
  <li><strong>Descripci칩n:</strong>{{product.description}}</li>
  <li><strong>Precio: </strong> {{product.price}}</li>
  <li><strong>C칩digo: </strong> {{product.code}}</li>
   <li><strong>Stock:  </strong>{{product.stock}} unidades</li>
</ul>

<img
  src="{{product.thumbnail}}"
  height="auto"
  width="300"
  title="{{product.title}}"
  style="border: 2px solid red; margin: 10px;"
  alt="Descripci칩n de la imagen"
  loading="lazy"
/>