<h4>P치gina de productos:</h4>

{{#unless isFirst}}
  <a href="/?index={{subtract index 1}}">Anterior</a>
{{/unless}}
{{#unless isLast}}
  <a href="/?index={{add index 1}}">Siguiente</a>
{{/unless}}

<hr />

<h5>{{product.title}}</h5>
<ul>
  <li>Descripci칩n: {{product.description}}</li>
  <li>Precio: {{product.price}}</li>
  <li>C칩digo: {{product.code}}</li>
   <li>Stock: {{product.stock}} unidades</li>
</ul>

<img
  src="{{product.thumbnail}}"
  height="auto"
  width="300"
  title="{{product.title}}"
  style="border: 2px solid red; margin: 10px;"
  alt="Descripci칩n de la imagen"
  loading="lazy"
/>